<!-- add "mini" class to sidebar class for mini sidebar -->
<nav id="sidebar" class="sidebar">
  <div class="sidebar-header">
    <a href="#" target="_blank">
      <img src="assets/images/logo.svg" />
      <span class="logo-name">ABC Infotech</span>
    </a>
  </div>

  <div class="sidebar-menu scrollbar">
    <ul class="menu">
      <li class="menu-item">
        <a href="#" class="menu-link" data-bs-toggle="collapse" href="#collapseDashboard" role="button"
          aria-expanded="false" aria-controls="collapseDashboard">
          <div class="icon-wrapper"><img src="assets/images/sidebar-icons/dashboard.svg"></div>
          <span>Dashboard</span>
          <span class="dropdown-toggle ms-auto"></span>
        </a>
        <ul class="collapse submenu" id="collapseDashboard">
          <li class="submenu-item">
            <a href="#" class="submenu-link">
              <img src="assets/images/sidebar-icons/submenu-bullet.svg" class="submenu-icon">
              Dashboard 1
            </a>
          </li>
          <li class="submenu-item">
            <a href="#" class="submenu-link">
              <img src="assets/images/sidebar-icons/submenu-bullet.svg" class="submenu-icon">
              Dashboard 2
            </a>
          </li>
          <li class="submenu-item">
            <a href="#" class="submenu-link">
              <img src="assets/images/sidebar-icons/submenu-bullet.svg" class="submenu-icon">
              Dashboard 3
            </a>
          </li>
        </ul>
      </li>
      <li class="menu-item">
        <a href="#" class="menu-link">
          <div class="icon-wrapper"><img src="assets/images/sidebar-icons/student-list.svg"></div>
          <span>Students List</span>
        </a>
      </li>
      <li class="menu-item">
        <a href="#" class="menu-link" data-bs-toggle="collapse" href="#collapseMasters" role="button"
          aria-expanded="false" aria-controls="collapseMasters">
          <div class="icon-wrapper"><img src="assets/images/sidebar-icons/masters.svg"></div>
          <span>Masters</span>
          <span class="dropdown-toggle ms-auto"></span>
        </a>
        <ul class="collapse submenu" id="collapseMasters">
          <li class="submenu-item">
            <a href="#" class="submenu-link">
              <img src="assets/images/sidebar-icons/submenu-bullet.svg" class="submenu-icon">
              Masters 1
            </a>
          </li>
          <li class="submenu-item">
            <a href="#" class="submenu-link">
              <img src="assets/images/sidebar-icons/submenu-bullet.svg" class="submenu-icon">
              Masters 2
            </a>
          </li>
          <li class="submenu-item">
            <a href="#" class="submenu-link">
              <img src="assets/images/sidebar-icons/submenu-bullet.svg" class="submenu-icon">
              Masters 3
            </a>
          </li>
        </ul>
      </li>
      <li class="menu-item">
        <a href="#" class="menu-link">
          <div class="icon-wrapper"><img src="assets/images/sidebar-icons/portfolio.svg"></div>
          <span>Portfolio</span>
        </a>
      </li>
      <li class="menu-item">
        <a href="#" class="menu-link">
          <div class="icon-wrapper"><img src="assets/images/sidebar-icons/contact.svg"></div>
          <span>Contact Us</span>
        </a>
      </li>
      <li class="menu-item">
        <a href="#" class="menu-link" data-bs-toggle="collapse" href="#collapseReports" role="button"
          aria-expanded="false" aria-controls="collapseReports">
          <div class="icon-wrapper"><img src="assets/images/sidebar-icons/reports.svg"></div>
          <span>Reports</span>
          <span class="dropdown-toggle ms-auto"></span>
        </a>
        <ul class="collapse submenu" id="collapseReports">
          <li class="submenu-item">
            <a href="#" class="submenu-link" data-bs-toggle="collapse" href="#collapseExample" role="button"
              aria-expanded="false" aria-controls="collapseExample">
              <img src="assets/images/sidebar-icons/submenu-bullet.svg" class="submenu-icon">
              Reports 1
              <span class="dropdown-toggle ms-auto"></span>
            </a>
            <ul class="collapse subsubmenu" id="collapseExample">
              <li class="subsubmenu-item">
                <a class="subsubmenu-link" href="#">
                  <img src="assets/images/sidebar-icons/subsubmenu-bullet.svg" class="subsubmenu-icon">
                  Reports 1.1
                </a>
              </li>
              <li class="subsubmenu-item">
                <a class="subsubmenu-link" href="#">
                  <img src="assets/images/sidebar-icons/subsubmenu-bullet.svg" class="subsubmenu-icon">
                  Reports 1.2
                </a>
              </li>
              <li class="subsubmenu-item">
                <a class="subsubmenu-link" href="#">
                  <img src="assets/images/sidebar-icons/subsubmenu-bullet.svg" class="subsubmenu-icon">
                  Reports 1.3
                </a>
              </li>
            </ul>
          </li>
          <li class="submenu-item">
            <a href="#" class="submenu-link">
              <img src="assets/images/sidebar-icons/submenu-bullet.svg" class="submenu-icon">
              Reports 2
            </a>
          </li>
          <li class="submenu-item">
            <a href="#" class="submenu-link">
              <img src="assets/images/sidebar-icons/submenu-bullet.svg" class="submenu-icon">
              Reports 3
            </a>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</nav>