<div class="card border-0 plain-card">
    <div class="card-header p-2">
        <div class="d-flex justify-content-between align-items-center">
            <span>Visit Entry List</span>
            <div class="d-flex gap-2">
                <!-- <button mat-flat-button class="btn-main-light btn-icon">
                    <mat-icon class="material-symbols-rounded">
                        download
                    </mat-icon>
                </button> -->
                <button mat-flat-button class="btn-main-outline" type="button" (click)="redirectToAddVisitEntry()">
                    <mat-icon class="material-symbols-rounded">
                        add
                    </mat-icon>
                    Add Visit
                </button>
            </div>
        </div>
    </div>
    <div class="card-body p-2">
        <div class="d-flex justify-content-end mb-2">
            <button class="btn btn-filter shadow-none btn-default btn-sm" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseExample" [attr.aria-expanded]="!visitEntryArray.length ? false : true" aria-controls="collapseExample" [class]="!visitEntryArray.length ? '' : 'collapsed'">
                <div class="d-flex align-items-center gap-2">
                    <mat-icon class="material-symbols-rounded">
                        filter_list
                    </mat-icon>
                    <span class="fw-normal">Filter</span>
                </div>
            </button>
        </div>
        <div [class]="!visitEntryArray.length ? 'collapse show' : 'collapse'" id="collapseExample">
            <form [formGroup]="filterForm" #formDirective="ngForm" (ngSubmit)="getTableDetails()" class="form-container">
                <mat-form-field appearance="outline" class="w-100">
                    <mat-label>Select Organization</mat-label>
                    <mat-select formControlName="organization" (selectionChange)="getUnit(); getEmployeeDetails();"
                    [class]="webService.getOrgId() ? f['organization'].disable({ onlySelf: true }) : f['organization'].enable({ onlySelf: true })">
                        <mat-option>
                            <ngx-mat-select-search [formControl]="orgCtrl" placeholderLabel="Search Organization Name"
                                noEntriesFoundLabel="No Data Found"></ngx-mat-select-search>
                        </mat-option>
                        <mat-option *ngFor="let org of orgSubject | async" [value]="org.id">
                            {{ org?.organizationName }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field appearance="outline" class="w-100">
                    <mat-label>Select Unit</mat-label>
                    <mat-select formControlName="unit"
                    [class]="(webService.getUnitId() || !f['organization'].getRawValue()) ? f['unit'].disable({ onlySelf: true }) : f['unit'].enable({ onlySelf: true })">
                        <mat-option>
                            <ngx-mat-select-search [formControl]="unitCtrl" placeholderLabel="Search Unit Name"
                                noEntriesFoundLabel="No Data Found"></ngx-mat-select-search>
                        </mat-option>
                        <mat-option *ngFor="let unit of unitSubj | async" [value]="unit.id">{{unit?.unitName}}</mat-option>
                    </mat-select>
                </mat-form-field>
                <div class="row gx-2">
                    <div class="col-6">
                        <mat-form-field appearance="outline" class="w-100">
                            <mat-label>From Date</mat-label>
                            <input matInput formControlName="fromDate" (click)="picker.open()" 
                            [matDatepicker]="picker" readonly [max]="currentDate">
                            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-datepicker #picker></mat-datepicker>
                        </mat-form-field>
                    </div>
                    <div class="col-6">
                        <mat-form-field appearance="outline" class="w-100">
                            <mat-label>To Date</mat-label>
                            <input matInput [matDatepicker]="pickers" 
                            (click)="pickers.open()" formControlName="toDate" readonly [max]="currentDate" >
                            <!-- [max]="fields?.fromDate?.isFYearDependent ? dateObj?.max : fields?.toDate?.isMax ? currentDate : ''" -->
                        <mat-datepicker-toggle matIconSuffix [for]="pickers"></mat-datepicker-toggle>
                        <mat-datepicker #pickers></mat-datepicker>
                        </mat-form-field>
                    </div>
                </div>
                <mat-form-field appearance="outline" class="w-100">
                    <mat-label>Select Employee</mat-label>
                    <mat-select [multiple]="true" formControlName="employeeList"
                    [class]=" (!f['organization'].getRawValue() )? f['employeeList'].disable({ onlySelf: true }) : f['employeeList'].enable({ onlySelf: true })">
                        <mat-option>
                            <ngx-mat-select-search [showToggleAllCheckbox]="true" (toggleAll)="toggleSelectAll($event, 'All')" [toggleAllCheckboxChecked]="isChecked"
                            [formControl]="employeeCtrl" [toggleAllCheckboxTooltipMessage]="tooltipMessage" placeholderLabel="Search Employee Name"
                            [toggleAllCheckboxTooltipPosition]="'above'" noEntriesFoundLabel="No Data Found"></ngx-mat-select-search>
                        </mat-option>
                        <mat-option *ngFor="let p of employeeSubject| async" [value]="p.id">{{p.employeeName}}</mat-option>
                    </mat-select>
                </mat-form-field>
                <div>
                    <button mat-flat-button class="btn-main-light m-2" type="button" (click)="resetForm()">Cancel</button>
                    <button mat-flat-button type="submit" class="btn-main" >Search</button>
                </div>
            </form>
        </div>
        <div class="employee-list">
            <div class="employee" *ngFor="let v of visitEntryArray; let i = index">
                <div class="d-flex justify-content-between align-items-center" (click)="selectedIndex = i">
                    <a class="employee-name" data-bs-toggle="collapse" href="#collapseEmployee{{i}}" role="button"
                        aria-expanded="false" [attr.aria-controls]="'collapseEmployee' + i">{{v?.customerName}}</a>
                    <button class="btn btn-edit" (click)="tableClickEvents(v, 'Edit')">
                        <mat-icon class="material-symbols-rounded">
                            edit_square
                        </mat-icon>
                    </button>
                    <button class="btn btn-delete" (click)="tableClickEvents(v, 'Delete')">
                        <mat-icon class="material-symbols-rounded">
                            delete
                        </mat-icon>
                    </button>
                </div>
                <div [class]="selectedIndex == i ? 'collapse show' : 'collapse'" id="collapseEmployee{{i}}">
                    <ul class="list-group visit-details list-group-flush">
                        <li class="list-group-item" *ngIf="v?.visitDate">
                            <div class="d-flex align-items-center">
                                <div class="flex-shrink-0">
                                    <img src="assets/images/employee/visit-date.svg" alt="visit date">
                                </div>
                                <div class="flex-grow-1 ms-2">
                                    {{v?.visitDate | date: 'dd/MM/yyyy hh:mm a'}}
                                </div>
                            </div>
                        </li>
                        <li class="list-group-item" *ngIf="v?.organizationName">
                            <div class="d-flex align-items-center">
                                <div class="flex-shrink-0">
                                    <img src="assets/images/employee/organization.svg" alt="organization">
                                </div>
                                <div class="flex-grow-1 ms-2">
                                    {{v?.organizationName}}
                                </div>
                            </div>
                        </li>
                        <li class="list-group-item" *ngIf="v?.fromUnitName">
                            <div class="d-flex align-items-center">
                                <div class="flex-shrink-0">
                                    <img src="assets/images/employee/unit.svg" alt="Unit..">
                                </div>
                                <div class="flex-grow-1 ms-2">
                                    {{v?.fromUnitName}}
                                </div>
                            </div>
                        </li>
                        <li class="list-group-item" *ngIf="v?.toUnitName">
                            <div class="d-flex align-items-center">
                                <div class="flex-shrink-0">
                                    <img src="assets/images/employee/destination.svg" alt="Destination">
                                </div>
                                <div class="flex-grow-1 ms-2">
                                    {{v?.toUnitName}}
                                </div>
                            </div>
                        </li>
                        <li class="list-group-item" *ngIf="v?.remark">
                            <div class="d-flex align-items-start">
                                <div class="flex-shrink-0">
                                    <img src="assets/images/employee/visit.svg" alt="Visit">
                                </div>
                                <div class="flex-grow-1 ms-2">
                                    {{v?.remark}}
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div *ngIf="!visitEntryArray?.length && isSearch">
                <img src="assets/images/no-data-found/no_data_found.png"/>
            </div>
            <mat-paginator *ngIf="tableDatasize > (totalPages? totalPages:10)" showFirstLastButtons [length]="tableDatasize"
                (page)="tableClickEvents($event, 'Pagination')" [pageSizeOptions]="[pageSize]" aria-label="Select page" class="m-0">
            </mat-paginator>
        </div>
    </div>
</div>