<div class="card border-0 plain-card">
    <div class="card-header p-2">
        <span>Add Visit Entry</span>
    </div>
    <form [formGroup]="registerForm" #formDirective="ngForm" (ngSubmit)="onSubmit()" class="form-container">
        <div class="card-body p-2">
            <mat-form-field appearance="outline" class="w-100">
                <mat-label>Select Organization</mat-label>
                <mat-select formControlName="organizationId" (selectionChange)="getUnit(); getEmployees()"
                [class]="(webService.getOrgId()  || editObj) ? f['organizationId'].disable({ onlySelf: true }) : f['organizationId'].enable({ onlySelf: true })">
                    <mat-option>
                        <ngx-mat-select-search
                            placeholderLabel="Search Organization Name"
                            [formControl]="orgCtrl" noEntriesFoundLabel="No Data Found"></ngx-mat-select-search>
                    </mat-option>
                    <mat-option *ngFor="let org of orgSubject | async" [value]="org.id">{{
                        org.organizationName}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field appearance="outline" class="w-100">
                <mat-label>Select Destination Unit</mat-label>
                <mat-select formControlName="unitId"
                    [class]="((webService.getUnitId() || !f['organizationId'].getRawValue()) || editObj) ? f['unitId'].disable({ onlySelf: true }) : f['unitId'].enable({ onlySelf: true })">
                    <mat-option>
                        <ngx-mat-select-search
                            placeholderLabel="Search Destination Unit"
                            [formControl]="unitCtrl" noEntriesFoundLabel="No Data Found"></ngx-mat-select-search>
                    </mat-option>
                    <mat-option *ngFor="let u of unitSubject | async" [value]="u?.id"
                        [disabled]="u?.id==f['fromUnitId'].getRawValue()">{{ u?.unitName}}</mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field appearance="outline" class="w-100">
                <mat-label>Select Source Unit</mat-label>
                <mat-select formControlName="fromUnitId"
                    [class]="(!f['organizationId'].getRawValue() || !f['unitId'].getRawValue() || editObj) ? f['fromUnitId'].disable({ onlySelf: true }) : f['fromUnitId'].enable({ onlySelf: true })">
                    <mat-option>
                        <ngx-mat-select-search placeholderLabel="Search Source Unit"
                            [formControl]="toUnitCtrl" noEntriesFoundLabel="No Data Found"></ngx-mat-select-search>
                    </mat-option>
                    <mat-option *ngFor="let u of toUnitSubject | async" [value]="u?.id"
                        [disabled]="u?.id==f['unitId'].getRawValue()">{{ u?.unitName}}</mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field appearance="outline" class="w-100">
                <mat-label>Select Employee</mat-label>
                <mat-select formControlName="employeeId"
                    [class]="(!f['organizationId'].getRawValue() || editObj) ? f['employeeId'].disable({ onlySelf: true }) : f['employeeId'].enable({ onlySelf: true })">
                    <mat-option>
                        <ngx-mat-select-search placeholderLabel="Search Employee Name"
                            [formControl]="employeeCtrl" noEntriesFoundLabel="No Data Found"></ngx-mat-select-search>
                    </mat-option>
                    <mat-option *ngFor="let employee of employeeSubject | async" [value]="employee.id">{{
                        employee.employeeName}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <div class="row gx-2">
                <div class="col-6">
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>Visit Date</mat-label>
                        <input matInput [matDatepicker]="visitDate" [readonly]="true" formControlName="visitDate">
                        <mat-datepicker-toggle matIconSuffix [for]="visitDate"></mat-datepicker-toggle>
                        <mat-datepicker #visitDate></mat-datepicker>
                    </mat-form-field>
                </div>
                <div class="col-6">
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>Visit Time</mat-label>
                        <input type="time" formControlName="visitTime" matInput min="00:00" max="11:00" />
                    </mat-form-field>
                </div>
            </div>
            <mat-form-field appearance="outline" class="w-100">
                <mat-label>Visit Details</mat-label>
                <textarea matInput rows="2" formControlName="visitDetails"></textarea>
            </mat-form-field>
        </div>
        <div class="card-footer px-2 pt-0">
            <div class="d-flex justify-content-end gap-2">
                <!-- <button mat-flat-button class="btn-main-light">Cancel</button>
                <button mat-flat-button class="btn-main">Submit</button> -->
                <button mat-flat-button class="btn-main-light" type="button" (click)="resetForm()">Cancel</button>
                <button mat-flat-button type="submit" class="btn-main" *ngIf="!editObj || editFlag">{{(!editFlag ? 'Submit' : 'Update')}}</button>
                <button mat-flat-button type="button" (click)="editFlag = true; getOrganation()"  class="btn-main" *ngIf="editObj && !editFlag">Edit</button>
            </div>
        </div>
    </form>
</div>